/**
 * @author Ben Siebert
 * @copyright 2018-2021 Ben Siebert. All rights reserved.
 */

@use "../utils/theme";

button {
  background-color: theme.$light;
  color: theme.$dark;
  border: 1px solid theme.$dark;
  border-radius: 6px;
  padding: .5rem 1.75rem;
  cursor: pointer;
  transition: theme.$transition;
  font-size: 36px;
}

button:hover {
  background-color: theme.$dark;
  color: theme.$light;
}

button:focus, button:active {
  box-shadow: theme.$focus;
}

