/**
 * @author Ben Siebert
 * @copyright 2018-2021 Ben Siebert. All rights reserved.
 */

@use "../utils/theme";

input {
  outline: none;
  font-size: 32px;
  border-radius: 6px;
  border: 1px solid theme.$dark;
  transition: theme.$transition;
}

input:focus, input:active {
  box-shadow: theme.$focus;
}
